#carousel-home {
    height: 100vh;
}

#carousel-home .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.carousel-inner .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0;
    padding-left: 100px;
    padding-right: 100px;
}

#carousel-home .carousel-caption h3 {
    color: #E50914;
    font-weight: bolder;
    font-size: 32px;
}

@media only screen and (max-width: 500px) {
    #carousel-home .carousel-caption h3 {
        font-size: 26px;
    }
}

.rowposter {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth; 
  }
  
  .rowposter a {
    cursor: pointer; 
    display: inline-block; 
  }
  
  .rowimg:hover {
    transform: scale(1.1); /* A escala de 1.1 em vez de 1.10, pois não há necessidade de ter dois dígitos */
  }
  
  .rowposter::-webkit-scrollbar {
    display: none; 
  }
  
  .rowposter a img {
    margin-right: 10px;
    border-radius: 20px;
    box-sizing: border-box; 
    transition: transform 450ms;
    max-height: 300px;
    object-fit: contain;
  }
  